/* CSS declarations go here */
body{
	margin: 0;
	padding: 0;
	background: #b7bf76;
	overflow: hidden;
}
.command_container{
}
.column{
	position: relative;
	float: left;
	width: 30%;
	padding-left: 20px;
}
.left_col{

}
.middle_col{
}
.right_col{

}
.clear_fix{
	clear: both;
}