<template name="home">
	{{> intro}}
	{{ >commandContainer }}
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				{{> prince}}
			</div>
			<div class="col-lg-6">
				{{> scenesvg}}
			</div>
			<div class="col-lg-2">
				{{> princess}}
			</div>
		</div>
	</div>
	<!-- <div class="main-container">
		<div class="main-container-left">
			<div class="bubble" data-order="bubble1"></div>
			{{> prince}}
		</div>
		<div class="main-container-center">
			<div class="bubble" data-order="bubble2"></div>
			{{> scenesvg}}
		</div>
		<div class="main-container-right">
			<div class="bubble" data-order="bubble3"></div>
			{{> princess}}
		</div>
	</div> -->
	
	{{player_action}}
</template>