<template name="intro">	
	<div id="overlay-inAbox" class="overlay-intro">
		<div class="top-bar">
			<span class="close">X close</span>
		</div>
		<div class="container">
			<div class="controls">
				<!-- <span class="first">First</span> | -->
				<span class="prev">Prev</span> |
				<span class="next">Next</span> |
				<!-- <span class="end">End</span>  -->
			</div>
			<div class="sub-container">
				<div class="slides active" data-page="0">
					<p>
						Once upon a time ...
					</p>
					<img src="/sleeping-beauty/once-upon-a-time.jpg" width="500">
				</div>
				<div class="slides hidden" data-page="1">
					next
				</div>
				<div class="slides hidden" data-page="2">
				</div>
			</div>
		</div>
		
	</div>
</template>
