<template name="logtemplate">


	<div class="container" id="current-session">
		<div class="row">
			<div class="panel panel-success" >
				<div class="panel-heading">
					<h3 class="panel-title">
						Current session
					</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-4">
							{{current_session}}
							<br>
							<button class="btn btn-primary reset-session">reset session</button>
						</div>
					</div>
				</div>
			</div>
		</div>
 

	</div>

</template>
